


<form>
    <input type="number" placeholder="Enter From Account No" class="form-control"/>
    <input type="number" placeholder="Enter To Account No" class="form-control" />
    <input type="number" placeholder="Amount" class="form-control"/>
    <button class="btn btn-danger">Transfer</button>
</form>